body {
	margin: 0;
	padding: 0;
	background: transparent;
	width:600px;
	position:fixed;
}

#pushobj {
	position: absolute;
	top: 0px;
	left: 450px;
	color: #fff;
	background: #243342;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
}