{namespace fopshop.nl.feeds}

/**
 * @param title
 * @param description
 * @param path
 * @param _id
 * @param images
 * @param price
 */
{template .google}
<item>
  <title>{$title}</title>
  <description><![CDATA[{$description|changeNewlineToBr}]]></description>
  <link>https://www.fopshop.nl/prod/{$path}/{$_id}</link>
  <g:id>{$_id}</g:id>
  <g:google_product_category>
    Kunst en entertainment > Feestelijke gelegenheden > Feestartikelen
  </g:google_product_category>
  <g:product_type>
    Pruiken halve prijs
  </g:product_type>
  <g:image_link>https://www.fopshop.nl/images/fs{$images[0]}</g:image_link>
  <g:condition>new</g:condition>
  <g:availability>in stock</g:availability>
  <g:price>{$price / 100} EUR</g:price>
  <g:brand>Fopshop</g:brand>
  <g:gtin>{$_id}</g:gtin>
  <g:gender>unisex</g:gender>
  <g:color>rood</g:color>
</item>
{/template}