:host {
  display: block;
  border: 0px solid grey;
  height: 100%;
  width: 100%;
}

core9-filedrop, core9-filedrop a {
  width: calc(100%);
  display: block;
  padding: 1em;
  margin: 1em;
  min-height: 1em;
  font-size: 1em;
  text-align: center;
  color: rgb(170, 170, 170);
  border: 1px solid black;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-left: 0px;
}

.footable>thead>tr>th {
	border-radius: 0px;
}