/* * {
  margin: 0px;
  padding: 0px;
} */

.fullbleed {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.panel {
  position: fixed;
  width: 100%;
  height: 101%;
  background-color: rgb(54, 65, 76);
  transition: width 500ms ease;
  -moz-transition: width 500ms ease;
  -ms-transition: width 500ms ease;
  -o-transition: width 500ms ease;
  -webkit-transition: width 500ms ease;
    overflow-x: hidden;
}

.panelbutton {
  float: right;
  width: 40px;
  height: 20px;
  background-color: #ddd;
  margin-right: -20px;
}

#panel-iframe-menu, iframe.menu {
  border: 0;
  _margin-top: 42px;
  _margin-bottom: -42px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  z-index: 999;
  background-color: transparent;/* #336ca6; */
  position: fixed;
}
iframe.menu {
  _top:20px;
      float: left;
  _display: none;
  visibility: hidden;
}
div.menu {
  overflow: hidden;
}
#draghandler {
  background-color: #243342;
  height: 20px;
  width: calc(100% - 30px);
    margin-bottom: -20px;
}

.login {
  background-color:rgb(0, 158, 255);
}

core9-filemanager {
  width: 60%;
  left: 20%;
  position: relative;
}