
#menutree li { list-style: none; margin-left: -20px; }
li .menu_label + input[type="checkbox"] { opacity: 0; display: none; }
li .menu_label { cursor: pointer; }
li .menu_label + input[type="checkbox"] + ol > li { display: none; }
li .menu_label + input[type="checkbox"]:checked + ol > li { display: block; }
li.page a { padding-left: 20px; text-decoration: none; display: block; background: url(../img/document.png) 0px 0px no-repeat; }
li.page a[href*=".pdf"] { background: url(../img/document.png) 0px 0px no-repeat; }
li.page a[href*=".html"] { background: url(../img/document.png) 0px 0px no-repeat; }
li.page a[href$=".css"] { background: url(../img/document.png) 0px 0px no-repeat; }
li.page a[href$=".js"] { background: url(../img/document.png) 0px 0px no-repeat; }
li label { cursor: pointer; display: block; padding-left: 20px; background: url(../img/folder-horizontal.png) 0px 1px no-repeat; }