/*
 * Remove most spacing between table cells.
 */

body {
  width: 900px;
  margin: 0 auto;
}
#demo {
  display: block;
  zoom: 1;
  background: url(img/scale.png) left bottom repeat-x;
  min-height: 300px;
  margin: 120px 0 90px 0;
  position: relative;
}

#demo:before, #demo:after {
  content: "";
  display: table;
}
#demo:after {
  clear: both;
}
#demo .hint {
  position: absolute;
  top: -90px;
  left: 430px;
}
#demo .slider-handle {
  background: transparent url(img/slider.png) left bottom repeat-x;
  position: absolute;
  right: -35px;
  top: -60px;
  width: 65px;
  height: 414px;
  opacity: 0.9;
}
#demo .slider-handle:hover {
  cursor: move;
  opacity: 0.95;
}
#demo .slider-handle:active {
  opacity: 1;
}
#demo #resizable {
  position: relative;
  min-height: 200px;
  width: 500px;
}
