body {
	margin: 0;
	padding: 0;
	background: transparent;
	width:600px;
	position:fixed;
	font-size: 0.7em;
}


#menu {
	position: absolute;
	top: 0px;
	left: 0px;
}


#pushobj {
  position: absolute;
  top: 7px;
  left: 300px;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  z-index: 1;
}